<!doctype html>
<html lang="en">
  <head>
    <title>Administration Werny</title>
    <link rel="stylesheet" href="{{ asset('bower_components/ng-admin/build/ng-admin.min.css') }}">
    <base href="{{ absolute_url('') }}" target="_blank"></base>
  </head>

  <body ng-app="app">
    <div ui-view></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bower_components/ng-admin/build/ng-admin.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/ng-admin.jwt-auth/build/ng-admin.jwt-auth.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Admin/app.js') }}"></script>
  </body>
</html>